/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: #555;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General */
html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.news-item img {
  width: 100%;
  max-width: 100%;
  height: 135px;
  object-fit: cover;
}

h5 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1.5;
}

h2 {
  font-size: 1.8rem;
  font-weight: 800;
  font-family: Helvetica, sans-serif;
  padding-bottom: 1.8rem;
}

.container h2 a {
  color: #f42;
  transition: color 500ms;
  margin-left: 0.625rem;
}

h2 a:hover {
  color: #000;
}

p {
  font-size: 1rem;
}

.main-container {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: Georgia, "Helvetica Neue", Arial, sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
  box-sizing: border-box;
}

.section {
  padding: 4rem 0;
}

.grid {
  display: flex;
  box-sizing: border-box;
}

.grid-col {
  margin: 0.625rem;
}

.grid-3 {
  width: 33.3%;
}

.grid-4 {
  width: 25%;
}

.grid-2-3 {
  width: 66.6%;
}

.grid-1-3 {
  width: 33.3%;
}

/* Navigation */

.main-content {
  position: relative;
  top: 7em;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.89em;
  font-weight: 500;
  line-height: 32px;
  background-color: #131313;
  padding: 0 1em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
}

.main-nav .nav-item,
.main-nav .nav-company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav li a {
  margin-left: 1em;
  color: #fff9;
}

.main-nav li a:hover {
  color: #fff;
}

.nav-item li:first-child a {
  color: #fff;
}

.sub-nav {
  background-color: #fdfdfd;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  width: 100%;
  top: 2em;
  z-index: 1;
}

.sub-nav .nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sub-nav .logo {
  background-color: #f42;
  background-image: linear-gradient(to bottom right, #c09, #f42 85%);
  display: block;
  padding: 1em 1em;
  width: 7em;
}

.sub-nav .nav-section li {
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0;
  margin-right: 1em;
}

.sub-nav .nav-section a,
.sub-nav .search-icon {
  color: #aaa;
}

.sub-nav .nav-section a:hover {
  color: #333;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #efefef;
  padding: 0 1.2em;
}

.nav-message {
  background: #fd3;
  font-size: 0.9em;
  color: #333;
  padding: 0.5em 1.5em;
  position: fixed;
  width: 100%;
  top: 5.5em;
  z-index: 1;
}

/* Main Content */

.front-news {
  margin: 0.1em 0.6em;
}

.cover-story {
  position: relative;
  color: #fff;
}

.cover-story.main {
  margin-right: 0.7em;
}

.mini-grid {
  box-sizing: border-box;
}

.cover-story.mini:first-child {
  margin-bottom: 0.7em;
}

.cover-story #main-image {
  background-image: linear-gradient(to bottom, rgba(240, 102, 98, 0.9) 0%, rgba(255, 68, 34, 0.7) 20%, rgb(0, 0, 0) 100%), url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/nunescow-796x417.jpg');
  width: 100%;
  height: 490px;
  background-size: cover;
  background-position: center;
}

.cover-story .cover-logo {
  width: 35rem;
}

.cover-story .cover-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover-story .content-upper,
.cover-story .cover-header {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 1em;
  box-sizing: border-box;
}

.cover-story .content-upper {
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.cover-story .cover-header {
  bottom: 0;
  flex-direction: column;
}

.cover-story .cover-header a,
.cover-story .cover-header li {
  color: #fff;
}

.cover-title {
  font-size: 3.5em;
  line-height: 1em;
  font-weight: 800;
  font-family: Helvetica, sans-serif;
}

.cover-byline {
  display: flex;
  font-size: 0.9em;
  margin-top: 1em;
}

.cover-byline li {
  margin-right: 1em;
}

.cover-story #mini-image-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/09/Gocycle-GXi-11-e1568314899848-796x475.jpg');
  width: 100%;
  height: 240px;
  background-size: cover;
  background-position: center;
}

.cover-story #mini-image-2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/08/OnePlus-tv-hed-796x419.jpg');
  width: 100%;
  height: 240px;
  background-size: cover;
  background-position: center;
}

.cover-story.mini .cover-title {
  font-size: 1.5em;
}

/* Latest News Section */

.latest-news-content,
.latest-funding-content {
  /* display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1.5rem;
  box-sizing: border-box; */
  font-family: 'Ubuntu', sans-serif;
}

.news-item p {
  font-weight: bold;
  color: #000;
  word-spacing: 0.1rem;
  transition: color 200ms;
}

.news-item p:hover {
  color: #f42;
}

.news-item span {
  font-size: 0.8rem;
  color: #aaa;
  display: block;
  margin-top: 0.5rem;
}
