/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: #555;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General */
html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.news-item img {
  width: 100%;
  max-width: 100%;
  height: 135px;
  object-fit: cover;
}

h5 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1.5;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: Helvetica, sans-serif;
}

.container header {
  margin-bottom: 1.5rem;
}

.container h2 a {
  color: #f42;
  transition: color 500ms;
  margin: 0 4rem 0 0;
}

h2 a:hover {
  color: #000;
}

p {
  font-size: 1rem;
}

.main-container {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
  box-sizing: border-box;
}

.section {
  padding: 2rem 0;
}

.grid {
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  box-sizing: border-box;
}

.grid-row {
  margin: 3rem 0;
}

.col-padding {
  padding: 0.625rem;
}

.col-margin {
  margin: 0.625rem;
}

.grid-3 {
  flex-basis: calc(100% / 3);
  width: calc(100% / 3);
  max-width: calc(100% / 3);
}

.grid-4 {
  flex-basis: calc(100% / 4);
  width: calc(100% / 4);
  max-width: calc(100% / 4);
}

.grid-2-3 {
  width: 66.6%;
}

.grid-1-3 {
  width: 33.3%;
}

header .arrow {
  font-size: 1.2rem;
  font-weight: 700;
}

/* Navigation */

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.89em;
  font-weight: 500;
  line-height: 32px;
  background-color: #131313;
  padding: 0 1em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
}

.main-nav .nav-news,
.main-nav .nav-company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav li a {
  margin-left: 1em;
  color: #fff9;
}

.main-nav li a:hover {
  color: #fff;
}

.nav-news li:first-child a {
  color: #fff;
}

.sub-nav {
  background-color: #fdfdfd;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  width: 100%;
  top: 2em;
  z-index: 1;
}

.sub-nav .nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sub-nav .logo {
  background-color: #f42;
  background-image: linear-gradient(to bottom right, #c09, #f42 85%);
  display: block;
  padding: 1em 1em;
  width: 7em;
}

.sub-nav .nav-section li {
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0;
  margin-right: 1em;
}

.sub-nav .nav-section .nav-link,
.nav-icon .search-icon {
  color: #aaa;
}

.nav-icon .bar,
.nav-icon .fa-bars:hover {
  color: #f42;
  font-size: 1.2rem;
}

.sub-nav .nav-section a:hover,
.nav-icon i:hover {
  color: #333;
  cursor: pointer;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon .nav-item.bar {
  display: none;
}

.nav-icon .nav-item {
  padding: 0 1.2em;
  border-left: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-message {
  background: #fd3;
  font-size: 0.9em;
  color: #333;
  padding: 0.5em 1.5em;
  position: fixed;
  width: 100%;
  top: 5rem;
  z-index: 1;
}
